registros/registrosCemMil.bin
registros/registrosCemMilD.bin
registros/registrosCemMilO.bin
registros/registrosUmMilhao.bin
registros/registrosUmMilhaoD.bin
registros/registrosUmMilhaoO.bin
arvoreB.bin
arvoreBEstrela.bin
